@layer antd, theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

* {
  @apply box-border;
}

@theme {
  --font-sans: "Instrument Sans";

  --color-brand: #1DB954;
  --color-background: #000;
  --color-background-base: #121212;
  --color-elevated-base: #1f1f1f;
  --color-elevated-highlight: #2a2a2a;

  --animate-fade-in: fade-in 0.4s ease-in-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@layer base {
  p, h1, h2, h3, h4, h5, h6, code, pre, blockquote, ul, ol, li {
    margin: 0;
  }

  ::selection {
    @apply bg-brand/30 text-white;
  }

  .transition-default {
    @apply transition-all duration-400;
  }
}

body {
  @apply font-sans m-0 p-0 bg-background;
}
